.image-cap-container {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -10;
  height: 100vh;
  width: 100%;
}
.img-cap {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  filter: brightness(0.3);
  -webkit-filter: brightness(0.3);
}
.company-logo {
  max-height: 200px;
}
